target/
target
kogito-bpmn-sync/docker-compose/.cache/fontconfig/5af59a81-2145-4e3d-ab75-94df654cfb31-le64.cache-7
kogito-bpmn-sync/docker-compose/.cache/fontconfig/5ca8086aeacc9c68e81a71e7ef846b3b-le64.cache-7
kogito-bpmn-sync/docker-compose/.cache/fontconfig/43f8fe80-95de-4801-9690-76a60a031eb3-le64.cache-7
kogito-bpmn-sync/docker-compose/.cache/fontconfig/CACHEDIR.TAG
kogito-bpmn-sync/docker-compose/.cache/fontconfig/d2be6232-ff87-4389-838a-9980410315a8-le64.cache-7
